<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>instgram Signup</title>
</head>
<body>
    <div class="container">
        <h1>Instagram SignUp</h1>
        <div class="data">
            <form action="/Signup" method="post" autocomplete="off">
                
                <div class="box">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter your Name" required>
                
                </div>

                <div class="box">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter your username" required>
                </div>

                <div class="box">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="" placeholder="example@email.com" required>
                </div>

                <div class="box">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter valid password" required>
                </div>

                <div class="box">
                    <label for="bio">Bio</label>
                    <input type="text" name="bio" id="bio" placeholder="Bio">
                </div>

                <button type="submit">Sign Up</button>

                <div class="box-1">
                    <a href="http://" target="_blank" rel="noopener noreferrer">forgot password?</a>
                    <a href="/login" target="_blank" rel="noopener noreferrer">Login</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>