<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./success.css">
    
    <title>Success</title>
</head>
<body>
    <div class="container">
        <div class="circle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="55" height="55">
                <path fill="#ffffff" d="M9 16.2l-3.6-3.6L4 14l5 5 10-10-1.4-1.4z"/>
            </svg>
        </div>
        <h1>Awesome!</h1>
        <p>Your registration has been successful. <br> Welcome to Instagram wrold</p>
        
        <form action="/login">
            <button type="submit">OK</button>
        </form>
    </div>

</body>
</html>